*{
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    height: 100%;
}
.sidebar{
    width: 200px;
    background-color: #222424;
    padding: 15px;
}
.sidebar nav{
    display: flex;
    flex-direction: column;
}
.sidebar nav a{
    text-decoration: none;
    color: white;
    padding: 10px 0;
}
.sidebar nav hr{
    border: none;
    border-bottom: 1px solid #4c4c4c;
}
.sidebar form button{
    padding: 3px 15px;
    margin-top: 15px;
}
.page-content{
    padding: 15px;
    width: calc(100% - 200px);
    background-color: #efefef;
}
.page-content h3{
    margin-bottom: 15px;
}
/* form */
form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
form label, form input, form textarea, form select
{
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 10px;
}
form label{
    padding: 5px 0;
}
form option{
    padding-top: 5px;
    padding-bottom: 5px;
}
form button{
    width: 100px;
    padding: 5px 10px;
}
.post-media-group{
    display: flex;
    flex-direction: column;
}
.post-media-group label{
    padding: 10px 0;
}
.post-media-group button{
    margin-bottom: 10px;
}
.media-upload-form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 15px;
}
.media-upload-form input{
    margin: 0 15px;
    width: auto;
}

/* table */
table{
    border-collapse: collapse;
    width: 100%;
}

table th,table td{
    border: 1px solid #cccccc;
    padding: 15px;
}
table .action-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-group form{
    width: auto;
}
.action-group a{
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    width: 100px;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #767676;
    border-radius: 2px;
    margin-right: 10px;
}

/* media */
.media-container{
    padding: 30px;
    display: flex;
    position: relative;
    width: 98%;
    flex-wrap: wrap;
    margin: 30px auto;
    background-color: white;
    border-radius: 5px;
}
.btn-close{
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 40px;
    border: none;
}
.media{
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.media img{
    width: 148px;
    height: 120px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px 5px 0 0;
}
.media-action{
    display: flex;
    width: 100%;
    background-color: #cccccc;
    padding: 5px;
}

.media-action a{
    text-decoration: none;
    font-size: 14px;
    padding: 3px 0;
    text-align: center;
    width: 64px;
    display: inline-block;
    border: 1px solid #a39c9c;
    border-radius: 2px;
    color: #222;
    background-color: white;
}
.media-action button{
    margin-left: 5px;
    text-decoration: none;
    font-size: 14px;
    padding: 3px 0;
    text-align: center;
    width: 64px;
    display: inline-block;
    border: 1px solid #a39c9c;
    border-radius: 2px;
    background-color: white;
    color: #222;
}

.media-overlay{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
#postImage{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
}
.post-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
}
#postImageWrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#postImageWrap button{
    margin-top: 10px;
}